.card {
    background-color: rgb(201, 159, 44);
    border-radius: 0;
}
.card-header {
    background-color: rgb(141, 90, 23);
    color:rgb(236, 150, 51);
    font-size:30;
}
.submit-btn {
    background-color:rgb(141, 90, 23);
    color:rgb(253, 169, 13);
    font-size:20;
    width:10%;
    margin-top:1%;
    margin-bottom:10%;
    margin-left: 45%;
}
table {
    font-size:40;
    width:100%;
}
table tr td {
    width:50%;
}
table , table tr , table tr td {
    border:2px solid rgb(56, 10, 10);
}
.table-head {
    background-color:rgb(114, 63, 28);
    color:rgb(31, 8, 8);
}